body {
  overflow-y: scroll;
  background: white;
  font-family: Ubuntu;
}

div {
  font-family: Ubuntu;
}

h2 {
  padding: 0px;
  margin: 0px;
  font-weight: 200;
  font-size: 35px;
}

h3 {
  font-weight: normal;
}

option {
  background-color: #dfdfdf;
}

img {
  height: auto;
}

ul {
  display: block;
  -webkit-margin-after: 0em;
  -webkit-margin-before: 0em;
}

section {
    height: 375px;
    margin: auto;
    margin: 40px;
}
div#left_top {
    width: 45%;
    height: 375px;
    background: red;
    float: left;
}
div#right_top {
    margin-left: 55%;
    height: 375px;
    background: black;
}

div#account_stats {
  height: 375px;
  background: #E9EFF6;
  position:relative;
}

div#your_posts {
  height: 100%;
  width: 100%;
  background: #E9EFF6;
  position:relative;
}

div#payment_history {
  height: 100%;
  width: 100%;
  background: #E9EFF6;
  position:relative;
}

div.container_header {
  height: 40px;
  background: #FFE566;
  font-size: 20px;
  padding-left: 20px;
  padding-top: 6px;
}

div.container_footer {
  height: 5px;
  width: 100%;
  background: #FFE566;
  position:absolute;
  bottom:0px;
}

div.data_visual {
  height: 50%;
  width: 50%;

}

ul#nav-items li{
  display: inline;
  font-size: 20px;
  padding: 30px;
}

a:hover {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: red;
}

#header {
  background: #FFE566;
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  height: 92px;
  z-index: 1;
  border-bottom: 1px solid #E9E9E9;
}

#logo {
  height: 60px;
  margin: 16px 40px;
  float: left;
}

#nav {
  float: right;
  margin: 31px;
}

#tabpages {
  position: relative;
  display: none;
  margin: 0px auto;
  max-width: 1020px;
  padding-top: 55px;
}

#graphs {
  padding-top:150px ;
}

.wrap {
  position: relative;
  margin: 0px auto;
  max-width: 1025px;
  padding: 0px 10px;
}